// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img-meter {
  background-image: image-url("speedometer.jpg");
  background-size: cover;
}

.img-cars-1 {
  background-image: image-url("cars-1.jpg");
  height: 1000px;
  background-size: cover;
}
