// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ユーザー投稿一覧に使用する背景画像
.img-meter {
  background-image: image-url("speedometer.jpg");
  background-size: cover;
  position: relative;
}

// ユーザー詳細画面の背景画像
.img-cars-1 {
  background-image: image-url("cars-1.jpg");
  height: 1000px;
  background-size: cover;
  position: relative;
}

.img-meter::before {
  content: '';
  display: inline-block;
  background-color: rgba(0, 0, 0, .4); 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: 40px;
} 

.title {
  z-index: 1;
}


.img-cars-1::before {
  content: '';
  display: inline-block;
  background-color: rgba(0, 0, 0, .2); 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
