<% visitor = notification.visitor %>
<% visited = notification.visited %>
  <div>
    <% if notification.action=='dm' %>
      管理者が、あなたにDMを送りました。
      <%= notification.created_at.strftime('%Y/%m/%d') %>
      <%= time_ago_in_words(notification.created_at).upcase %> 前
    <% end %>
  </div>
 
   